@import './navbar.css';
@import './index.css';
@import './login.css';
@import './admin.css';
@import './logs.css';

:root {
    --primary-color: #1A374D;
    --form-section-header: #818181;
}

body {
    font-family: Figtree, sans-serif;
    box-sizing: border-box;
    display: block;
    margin: 0;
}

.auth-layout {
    display: flex;
    height: 100vh;

    .content {
        flex-grow: 1;
        padding: 1rem;
        overflow: auto;
    }
}

.alert {
    color: red;
}
