.index-navbar {
    align-items: center;
    display: flex;
    height: 105px;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    width: 100%;

    .logo {
        width: 8.75rem;
    }

    .navbar-items {
        align-items: center;
        display: flex;
        gap: 0.8rem;
    }
}
